.card-box {
  width: 33%;
  margin: 0 auto;
  border: none;
  padding: 40px 20px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.card-box img {
  width: 100px;
  margin-right: 20px;
}

.card-box h2 {
  color: #444444;
  font-size: 36px;
}
.login-box {
  margin-bottom: 100px;
}
/* responsive for mobile */
@media only screen and (max-width: 688px) {
  .card-box {
    width: 90%;
    margin: 0 auto;
    border: none;
    padding: 40px 20px;
    margin-top: 100px;
  }
}
