.card-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-price {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}
.card-footer {
  background-color: white;
}
.service-time {
  margin-top: 15px !important;
}
