.product-text {
  letter-spacing: 0.5px;
}
.form-box {
  background-color: #1ec8e7;
}
.order-btn {
  display: block;
  width: 100%;
  border-radius: 7px;
  font-size: 18px;
  letter-spacing: 1.5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

@media only screen and (max-width: 688px) {
  .description-box h2 {
    font-size: 22px;
    display: block;
    width: 60%;
  }
  .form-description {
    margin-top: 15px;
  }
  .description-box .main-price {
    font-size: 16px;
    width: 40%;
    display: block;
  }
}
