/* not found page css style here */
.error-page {
  width: 500px;
  margin: 100px auto;
}

.error-page h1 {
  font-size: 46px;
}

.error-link {
  text-decoration: none;
  color: #fc814e;
}
/* responsive for mobile */
@media only screen and (max-width: 600px) {
  .error-page {
    width: 400px;
  }
}
